[submodule "vendor/erc3643"]
	path = vendor/erc3643
	url = https://github.com/ERC-3643/ERC-3643.git
[submodule "vendor/onchainid"]
	path = vendor/onchainid
	url = https://github.com/onchain-id/solidity.git
[submodule "protocol/lib/openzeppelin-contracts"]
	path = protocol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "protocol/lib/openzeppelin-contracts-upgradeable"]
	path = protocol/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
